.genre-item {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    color: #FFFFFF;
    border-bottom: 3px solid #ccc;
    cursor: pointer;

    &--active {
        border-bottom: 3px solid #F65261;
    }
}
