.genre-item {
    display: inline-block;
    padding: 16px;
    font-size: 16px;
    color: #FFFFFF;
    border-bottom: 2px solid #ccc;
    cursor: pointer;

    &--active {
        border-bottom: 2px solid #F65261;
    }
}
