.sort-toggle {
    flex: 0 0 calc(100% - 377px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    border-bottom: 2px solid #CCCCCC;

    &__item {
        display: inline-block;
        padding: 16px;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;
        opacity: 0.6;
        text-transform: uppercase;

        &--active,
        &--active-revers {
            position: relative;
            opacity: 1;

            &:after {
                position: absolute;
                right: 0;
                top: 24px;
                content: '';
                display: block;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 8px solid #F65261;
                border-bottom: none;
            }
        }

        &--active-revers {
            &:after {
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-bottom: 8px solid #F65261;
                border-top: none;
            }
        }
    }
}
