.movies-counter {
    margin: 24px 0 28px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;

    &__amount {
        margin: 0 5px 0 0;
        font-weight: 700;
    }
}
