.header {
    flex: 0 0 280px;
    display: flex;
    flex-flow: column nowrap;
    padding: 16px 48px;
    margin: 0 0 8px;
    background: url('../../assets/images/netflix.jpg') center center;
    box-sizing: border-box;
}
