.header {
    flex: 0 0 400px;
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 60px;
    margin: 0 0 10px;
    background: url('../../assets/images/netflix.jpg') center center;
    box-sizing: border-box;
}
