.movies-list {
    height: calc(100% - 117px);
    position: relative;

    &__container {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        overflow-y: scroll;
        position: absolute;
    }
}
