.color-pallete {
    &__item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 0 0 12px;
    }

    &__icon {
        width: 45px;
        height: 45px;
        margin: 0 17px 0 0;
        border-radius: 50%;
        border: 1px solid #666555;
    }

    &__text {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        color: #E4E4E4;
    }
}
