body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    width: 1620px;
    height: calc(100vh - 100px);
    margin: 0 auto;
    padding: 50px;
    background-color: #555555;
}

.wrapper {
    flex: 0 0 1200px;
    display: flex;
    flex-flow: column nowrap;
}

.sidebar {
    flex: 0 0 320px;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 36px;
}

.upper-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 46px;

    & :global(.button) {
        padding: 11px 18px 7px;
        color: #F65261;
        background-color: rgba(96, 96, 96, 0.88);
    }
}

.filter-line {
    display: flex;
    flex-flow: row nowrap;
}

