body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    width: 1296px;
    height: calc(100vh - 60px);
    margin: 0 auto;
    padding: 30px 40px;
    background-color: #555555;
}

.wrapper {
    position: relative;
    flex: 0 0 960px;
    display: flex;
    flex-flow: column nowrap;
}

.sidebar {
    flex: 0 0 256px;
    display: flex;
    flex-flow: column nowrap;
    padding: 0 29px;
}

.upper-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 37px;

    & :global(.button) {
        padding: 9px 14px 6px;
        color: #F65261;
        background-color: rgba(96, 96, 96, 0.88);
    }
}

.heading {
    margin: 20px 0 0;
    padding: 0 0 0 56px;
}

.filter-line {
    display: flex;
    flex-flow: row nowrap;
}

.modal-icon {
    border-radius: 50%;
}

.modal-text {
    margin: 20px 0 0;
    padding: 0 130px;
}

.modal-button {
    display: flex;
    justify-content: end;
    padding: 30px 45px 0;
}

